.box {
<<<<<<< HEAD
  height: 750px;
  width: 1100px;
  margin-top: 15rem;
=======
  height: 650px;
  width: 900px;
  margin-top: 5rem;
>>>>>>> cd66d41da70b32b0314d96736a81b7fbbee0306d
  margin-left: 10rem;
}
